body {
    background: #191919;
    display: flex;
    flex-direction: column;
    color: #E3E3E3;
}

.border__first {
    border: 2px solid seagreen;
}

.pm {
    display: flex;
}

.pm_show {
    height: 90%;
    width: 80%;
    min-width: 600px;
    margin: 10px;
    overflow: hidden; /* repeated */
}

.pm_action {
    height: 90%;
    width: 20%;
    margin: 10px;
    overflow: hidden; /* repeated */
}

.pm_show__bigInformation {
    height: 650px;
    width: 100%;
    min-width: 600px;
    overflow: hidden; /* repeated */
}

.pm_show__toolsPage {
    height: 50px;
    width: 100%;
    display: flex; /* repeated */
    overflow: hidden; /* repeated */
}

.pm_action__fastConfiguration {
    height: 446px;
    width: 100%;
    overflow: hidden; /* repeated */
}

.pm_action__command {
    height: 200px;
    width: 100%;
    overflow: hidden; /* repeated */
}

.pm_action__information {
    height: 50px;
    width: 100%;
    overflow: hidden; /* repeated */
}

.pm_showPhoto__bigPhoto {
    max-width: 100%;
    max-height: 100%;
}


.pm_leftTitle {
    height: 100%;
    width: 35px;
}

.pm_showPhoto__miniPhoto {
    max-width: 20px;
    max-height: 20px;
}

.pm_showPhoto__middlePhoto {
    max-width: 75px;
    max-height: 75px;
}

.pm_frame_options {
    height: 320px;
    width: 100%;
    overflow: auto;
}

.pm_frame_commands {
    height: 380px;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.pm_action__title {
    text-align: center;
    margin-bottom: 10px;
}

.pm_title {
    color: #222222;
    background: seagreen;
}

.pm_showPhoto__logo {
    height: 46px;
    width: 46px;
    border-radius: 30px;
    border: 2px solid seagreen;
}
/* --- TODO переписать --- */
.pm_frame_optionsCell {
    display: flex;
    justify-content: space-between;
    border: 1px groove lemonchiffon;
    margin: 5px;
    padding: 1px;
}

.pm_showInfo__tileView {
    overflow: auto;

}

.pm_showInfo__tile {
    overflow: hidden;
    margin: 3px;
    display: inline-block;
    height: 65px;
    width: 65px;
    border: 1px groove deeppink;
}
/* ----------- */